body {
min-height: 100vh;
background-color: black;
color: whitesmoke;
text-align: center;

}

.display {
  background-color: whitesmoke;
  color: black;
  text-align: end;
}
.calculator-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
}






